<h1>{{mensagem}}</h1>

<div ng-show="status.length" class="alert alert-info" role="alert">{{status}}</div>
<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <a class="btn btn-primary" href="#/principal/novo" role="button">Novo</a>
      </div>
      <input type="text" class="form-control" placeholder="Digite para filtrar" ng-model="filtro" ng-model-options="{debounce: 1000}">
    </div>
  </div>
</form>

<meu-painel titulo="{{tituloPainel}}">
  <!-- Table -->
  <table class="table table-striped table-bordered">
    <tr>
      <td>#</td>
      <td>Nome</td>
      <td>E-mail</td>
      <td>Ações</td>
    </tr>
    <tr ng-repeat="pessoa in pessoas | filter: filtro">
      <td>{{pessoa.id_usuario}}</td>
      <td>{{pessoa.nome}}</td>
      <td>{{pessoa.email}}</td>
      <td>
        <a class="btn btn-warning" href="#/principal/alterar/{{pessoa.id_usuario}}" role="button">Alterar</a>
        <button type="button" class="btn btn-danger" ng-click="excluir(pessoa)">Excluir</button>
      </td>
    </tr>
  </table>
</meu-painel>